<div class="intro" aria-hidden="true">
  <div class="intro__leaf">
    <div class="intro__grid"></div>
    <div class="intro__inner">
      <svg class="intro__profile profile-draw" viewBox="0 0 320 270" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <g class="pd-glass">
          <path pathLength="1" d="M128 8v124M134 8v124M158 8v124M164 8v124"/>
          <path pathLength="1" d="M134 132h24v18h-24Z"/>
          <path pathLength="1" class="pd-fine" d="M139 137h2M145 137h2M151 137h2M139 143h2M145 143h2M151 143h2"/>
          <path pathLength="1" class="pd-glint" d="M140 30l-6 14M148 70l-8 18"/>
        </g>
        <g class="pd-sash">
          <path pathLength="1" d="M100 150h26v50h-26Z"/>
          <path pathLength="1" d="M106 158h14v34h-14Z"/>
          <path pathLength="1" d="M126 160h10l-2 8h-6ZM126 184h10l-2 8h-6Z"/>
          <path pathLength="1" d="M136 150h30v8h44v42h-74Z"/>
          <path pathLength="1" d="M142 166h22v26h-22ZM170 166h34v26h-34Z"/>
          <path pathLength="1" d="M166 116h12v34h-12Z"/>
          <path pathLength="1" class="pd-joint" d="M164 126c2.5 0 2.5 6 0 6M128 140c-3 0-6-2-6-5"/>
        </g>
        <g class="pd-frame">
          <path pathLength="1" d="M70 202h42v36H70Z"/>
          <path pathLength="1" d="M76 208h30v24H76Z"/>
          <path pathLength="1" d="M112 210h10l-2 8h-6ZM112 224h10l-2 8h-6Z"/>
          <path pathLength="1" d="M122 202h78v-24h30v60H122Z"/>
          <path pathLength="1" d="M128 208h30v24h-30ZM164 208h30v24h-30ZM206 184h18v48h-18Z"/>
          <path pathLength="1" class="pd-joint" d="M210 200a3 3 0 1 1-6 0M98 204a3 3 0 1 1 0-6"/>
          <path pathLength="1" class="pd-fine" d="M70 238l-8 10M82 238l-8 10M94 238l-8 10M106 238l-8 10"/>
        </g>
        <g class="pd-cote">
          <path pathLength="1" d="M70 258h160M70 252v12M230 252v12"/>
          <path pathLength="1" d="M286 8v230M280 8h12M280 238h12"/>
        </g>
        <path pathLength="1" class="pd-acc" d="M70 258h22"/>
      </svg>
      <div class="intro__meta">
        <p class="intro__label">01 / 16 · Atelier des Sablonnières · coupe A–A</p>
        <p class="intro__count"><span class="intro__digits" data-count>1988</span></p>
        <p class="intro__label">L’Argentière-la-Bessée · Hautes-Alpes</p>
      </div>
      <svg class="intro__logo logo" viewBox="0 0 2910 980" role="img" aria-label="Alpes Alu">
        <use href="#logo-band-knockout" class="logo__band"></use>
        <use href="#logo-word" class="logo__word"></use>
      </svg>
    </div>
    <span class="intro__hinge"></span>
  </div>
</div>
