<section class="metiers section section--dark" id="metiers" aria-labelledby="metiers-titre" data-section="05" data-label="Nos métiers" data-theme="dark">
  <div class="metiers__pin">
    <div class="metiers__head wrap">
      <p class="kicker"><span class="kicker__num">05 / 16</span><span>Nos métiers</span></p>
      <h2 id="metiers-titre" class="h2" data-split="lines">Du châssis au portail, un seul atelier.</h2>
      <p class="section__lead">Particuliers et professionnels, neuf et rénovation : tout est fabriqué dans notre atelier des Sablonnières, puis posé chez vous par notre équipe.</p>
    </div>

    <div class="metiers__viewport" tabindex="0" aria-label="Nos métiers, faites défiler pour parcourir les neuf fiches">
      <ol class="metiers__track">
        <li class="metier">
          <div class="metier__media frame frame--reveal"><x-photo id="m-fenetres" sizes="(min-width: 1024px) 30vw, 82vw" position="50% 50%"></x-photo></div>
          <div class="metier__body">
            <p class="metier__num mono">01 / 09</p>
            <svg class="metier__icon draw" aria-hidden="true"><use href="#m-fenetres"></use></svg>
            <h3 class="metier__title">Fenêtres et portes-fenêtres</h3>
            <p class="metier__text">Fabriquées sur mesure dans nos ateliers, puis posées par l'équipe, en neuf comme en rénovation.</p>
            <ul class="metier__specs mono"><li>Un ou deux vantaux · coulissant</li><li>Oscillo-battant · soufflet</li><li>Satiné · laqué · brossé</li></ul>
          </div>
        </li>
        <li class="metier">
          <div class="metier__media frame frame--reveal"><x-photo id="m-baies" sizes="(min-width: 1024px) 30vw, 82vw"></x-photo></div>
          <div class="metier__body">
            <p class="metier__num mono">02 / 09</p>
            <svg class="metier__icon draw" aria-hidden="true"><use href="#m-baies"></use></svg>
            <h3 class="metier__title">Baies vitrées et châssis</h3>
            <p class="metier__text">Baies coulissantes ou ouvrantes, châssis fixes et composés : on associe les ouvertures dont votre pièce a besoin.</p>
            <ul class="metier__specs mono"><li>2, 3 ou 4 vantaux</li><li>Sur cadre ou à galandage</li><li>Châssis fixe · châssis composé</li></ul>
          </div>
        </li>
        <li class="metier">
          <div class="metier__media frame frame--reveal"><x-photo id="m-volets" sizes="(min-width: 1024px) 30vw, 82vw"></x-photo></div>
          <div class="metier__body">
            <p class="metier__num mono">03 / 09</p>
            <svg class="metier__icon draw" aria-hidden="true"><use href="#m-volets"></use></svg>
            <h3 class="metier__title">Volets roulants et stores</h3>
            <p class="metier__text">Volets roulants, volets battants, stores d'extérieur et d'intérieur, moustiquaires : posés et réglés par nos soins.</p>
            <ul class="metier__specs mono"><li>Électrique ou solaire</li><li>Sous linteau ou en façade</li><li>Coffre arrondi ou pan coupé</li></ul>
          </div>
        </li>
        <li class="metier">
          <div class="metier__media frame frame--reveal"><x-photo id="m-portes" sizes="(min-width: 1024px) 30vw, 82vw" position="50% 60%"></x-photo></div>
          <div class="metier__body">
            <p class="metier__num mono">04 / 09</p>
            <svg class="metier__icon draw" aria-hidden="true"><use href="#m-portes"></use></svg>
            <h3 class="metier__title">Portes d'entrée et de garage</h3>
            <p class="metier__text">Portes d'entrée à un ou deux vantaux, portes de garage faites sur mesure, manuelles ou motorisées.</p>
            <ul class="metier__specs mono"><li>Ouverture à la française ou à l'anglaise</li><li>Sectionnelle · basculante · enroulable</li></ul>
          </div>
        </li>
        <li class="metier">
          <div class="metier__media frame frame--reveal"><x-photo id="m-portails" sizes="(min-width: 1024px) 30vw, 82vw"></x-photo></div>
          <div class="metier__body">
            <p class="metier__num mono">05 / 09</p>
            <svg class="metier__icon draw" aria-hidden="true"><use href="#m-portails"></use></svg>
            <h3 class="metier__title">Portails et clôtures</h3>
            <p class="metier__text">Portails battants, coulissants ou autoportants, et clôtures fixées au sol ou sur un mur.</p>
            <ul class="metier__specs mono"><li>Aluminium · acier · inox</li><li>Occultant ou ajouré</li><li>Galvanisé ou thermolaqué</li></ul>
          </div>
        </li>
        <li class="metier">
          <div class="metier__media frame frame--reveal"><x-photo id="m-verandas" sizes="(min-width: 1024px) 30vw, 82vw" position="62% 50%"></x-photo></div>
          <div class="metier__body">
            <p class="metier__num mono">06 / 09</p>
            <svg class="metier__icon draw" aria-hidden="true"><use href="#m-verandas"></use></svg>
            <h3 class="metier__title">Vérandas et verrières</h3>
            <p class="metier__text">Vérandas traditionnelles, haute performance ou à toiture terrasse, et verrières, dessinées pour votre maison.</p>
            <ul class="metier__specs mono"><li>Traditionnelle · toit terrasse</li><li>Verrière d'intérieur</li><li>Vitrage feuilleté</li></ul>
          </div>
        </li>
        <li class="metier">
          <div class="metier__media frame frame--reveal"><x-photo id="m-escaliers" sizes="(min-width: 1024px) 30vw, 82vw" position="50% 55%"></x-photo></div>
          <div class="metier__body">
            <p class="metier__num mono">07 / 09</p>
            <svg class="metier__icon draw" aria-hidden="true"><use href="#m-escaliers"></use></svg>
            <h3 class="metier__title">Escaliers, garde-corps et structures</h3>
            <p class="metier__text">Fabriqués sur mesure à l'atelier. Avec des marches en caillebotis, la neige passe au travers et la glace ne se forme pas.</p>
            <ul class="metier__specs mono"><li>Limon central ou double · colimaçon</li><li>Barreaudage droit ou rampant</li><li>Ossatures métalliques</li></ul>
          </div>
        </li>
        <li class="metier">
          <div class="metier__media frame frame--reveal"><x-photo id="m-vitrerie" sizes="(min-width: 1024px) 30vw, 82vw"></x-photo></div>
          <div class="metier__body">
            <p class="metier__num mono">08 / 09</p>
            <svg class="metier__icon draw" aria-hidden="true"><use href="#m-vitrerie"></use></svg>
            <h3 class="metier__title">Vitrerie</h3>
            <p class="metier__text">Du simple au double vitrage, vitrages thermiques et de sécurité. Une vitre fissurée ou cassée : on la sécurise, puis on la remplace.</p>
            <ul class="metier__specs mono"><li>Simple · double · feuilleté</li><li>Fissure ou casse</li></ul>
          </div>
        </li>
        <li class="metier">
          <div class="metier__media frame frame--reveal"><x-photo id="m-serrurerie" sizes="(min-width: 1024px) 30vw, 82vw" position="50% 40%"></x-photo></div>
          <div class="metier__body">
            <p class="metier__num mono">09 / 09</p>
            <svg class="metier__icon draw" aria-hidden="true"><use href="#m-serrurerie"></use></svg>
            <h3 class="metier__title">Serrurerie et dépannage</h3>
            <p class="metier__text">Ouverture de porte, changement de serrure, portes et blindage : un service à domicile.</p>
            <ul class="metier__specs mono"><li>Ouverture de porte</li><li>Changement de serrure</li><li>Portes et blindage</li></ul>
          </div>
        </li>
      </ol>
    </div>

    <div class="metiers__progress wrap" aria-hidden="true">
      <span class="mono metiers__count"><span class="metiers__current">01</span> / 09</span>
      <span class="metiers__bar"><span class="metiers__bar-fill"></span><span class="metiers__bar-leg"></span></span>
    </div>
  </div>
</section>
